awswrangler==3.16.1
flaml[automl]==2.6.0
jupyter==1.1.1
matplotlib==3.11.0
neo4j==6.2.0
notebook==7.6.0
openpyxl==3.1.5
pandas==3.0.3
paretoset==1.2.5
pptx2md==2.0.6
prov[dot]==2.1.1
pydot==4.0.1
pymongo==4.17.0
scikit-learn==1.9.0
scipy==1.18.0
seaborn==0.13.2
traitlets==5.15.1
xlrd==2.0.2
